<div class="container">
  <h1>Angular HttpClient</h1>

  <div class="card">
    <div class="form-control">
      <input type="text" placeholder="Название" [(ngModel)]="todoTitle">
    </div>
    <button class="btn" (click)="addTodo()">Добавить</button>
    <button class="btn" (click)="fetchTodos()">Загрузить</button>
  </div>

  <hr>

  <div *ngIf="loadText; else loader">
    <div *ngIf="todos.length; else noElements">
      <div class="card">
        <p *ngFor="let todo of todos">
          <span [ngClass]="{complited: todo.complited}">{{todo?.title | titlecase}}</span>
          <span>
        <button class="btn btn-danger" (click)="removeTodo(todo.id)"> Удалить </button>
        <button class="btn" [disabled]="todo.complited">Завершить</button>
      </span>
        </p>
      </div>
    </div>
    <ng-template #noElements>
      <p>No elements...</p>
    </ng-template>
  </div>
  <ng-template #loader>
    <p>Loading...</p>
  </ng-template>
</div>



